.bottomNavigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  background-color: transparent;
  z-index: 1000;
}

.bottomContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bottomRight {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .bottomNavigation {
    padding: 0.5rem;
  }

  .bottomContainer {
    padding: 0 0.5rem;
  }
}