.modalOverlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  overflow-y: auto;
}

.modalContent {
  background-color: var(--bg-secondary);
  border: 4px solid var(--border-color);
  border-radius: var(--border-radius-lg);
  max-width: var(--max-width);
  min-height: 100%;
  position: relative;
}

.modalContent.wide {
  width: calc(var(--max-width) - 100px);
}

.modalContent.thin {
  width: calc(var(--max-width) - 1100px);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 8px 20px;
  height: 72px;
  background-color: var(--bg-secondary);
  border-bottom: 4px solid var(--border-color);
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
}

.modalTitle {
  margin: 0;
}

.headerSprite {
  height: 64px;
  object-fit: contain;
  image-rendering: pixelated;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  color: #666;
}

.closeButton:hover {
  color: #000;
}

.modalBody {
  padding: 8px 40px;
}

.innerHeader {
  color: #deb887;
  margin-bottom: var(--spacing-sm);
}

@media (max-width: 768px) {
  .innerHeader {
    color: #d3a05f;
  }
}